/slprj/
/co-tracker/
/GroundingDINO/
/AutoVrtlEnv/
/simulation/simulate_drone_tracking.slx.original
/.idea/
/Grounded-Segment-Anything/
/GroundingDINO/
/.vscode/
/.idea/
/simulation/slprj/
/simulation/simulate_drone_tracking.slx.original
/simulation/simulate_drone_tracking.slx.r2025a
/BishoyPointTracker.py
/__pycache__/
/media/tdefault.mp4
/media/tmain_ds_frame.mp4
/media/tmain_ds_pan.mp4
/media/tmain_ds_pan_cut.mp4
/simulation/TrackingSystem.asv
/simulation/SimulateDroneTracking.slx.original
