/slprj/
/media/
/data/
/co-tracker/
/GroundingDINO/
/AutoVrtlEnv/
/simulation/simulate_drone_tracking.slx.original
/.idea/
/Grounded-Segment-Anything/
/GroundingDINO/
/.vscode/
/.idea/
/simulation/slprj/
/simulation/simulate_drone_tracking.slx.original
/simulation/simulate_drone_tracking.slx.r2025a
/BishoyPointTracker.py
